*{
    box-sizing: border-box;
}

body{
     background-image: linear-gradient(to bottom, blue, rgb(96, 96, 237))/*rgb(45, 45, 222)*/;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 80vh;
    overflow: hidden;
}

h1{
    margin: 0;
}

.game-container{
    position: relative;
    padding: 20px 30px;
    height: 350px;
    width: 100%;
    max-width: 800px;
    top: 0;
    left: 0;
}

.hint-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 10%;
}

.hint-container button{
    cursor: pointer;
    margin-bottom: 20px;
    border: 0;
    border-radius: 5px;
    font-size: large;
    padding: 5px 10px;
}

.hint-container button:focus{
    outline: 0;
}

.hint-container button:active{
    transform: scale(0.8);
}

.definition-btn{
    background-color: gold;
}

.reset-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
}

.reset-container button{
    cursor: pointer;
    background-color: rgb(228, 86, 86);
    border: 0;
    border-radius: 5px;
    font-size: larger;
    padding: 5px 10px;
}

.reset-container button:focus{
    outline: 0;
}

.reset-container button:active{
    transform: scale(0.8);
}

.figure-container{
    fill: transparent;
    stroke: white;
    stroke-width: 5;
    stroke-linecap: round;
}
.figure-part{
    display: none;
}

.win-figure{
    display: none;
}

.win-figure-arm-up{
    display: none;
}

.win-figure-arm-down{
    display: none;
}

.genere{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-width: fit-content;
    padding: 10px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    bottom: -15%;
    transform: translateX(-50%);
}

.word{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.letter{
    border-bottom: 3px solid aqua;
    display: inline-flex;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    width: 30px;
}

.row{
    display: flex;
}

.hide{
    visibility: hidden;
}

.alphabet-container{
    position: absolute;
    top: 50px;
    right: 100px;
}

.alphabet{
    cursor: pointer;
    height: 35px;
    width: 35px;
    background-color: rgba(157, 162, 184, 0.4);
    color: white;
    font-size: large;
    border: 0;
    border-radius: 5px;
    margin: 5px;
}

.alphabet:hover{
    transform: scale(1.2);
}

.alphabet:active{
    transform: scale(0.95);
}

.alphabet:focus{
    outline: 0;
}

.score{
    font-size: larger;
    position: absolute;
    display: flex;
    bottom: 0;
    width: 90%;
}

.score .current-score{
    position: relative;
    left: 0;
    text-align: center;
}

.score .high-score{
    position: absolute;
    right: 0;
    text-align: center;
}

.score1, .score2{
    color: black;
}

.definition-container{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.definition{
    background-color: rgb(27, 142, 224);
    text-align: center;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 4px aqua;
}

.definition button{
    cursor: pointer;
    background-color: white;
    padding: 10px 20px;
    margin-top: 10px;
    color: rgb(27, 142, 224);
    border: 0;
    font-size: medium;
    border-radius: 5px;
    box-shadow: 0 1px 2px 2px blue;
}

.definition button:focus{
    outline: 0;
}

.definition button:active{
    transform: scale(0.9);
}

.popup-container{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.popup{
    background-color: rgb(27, 142, 224);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 1px 5px 4px aqua;
    animation-name: showpopup;
    animation-duration: 0.3s;
}

#play-again{
    margin-right: 10px;
}

.popup button{
    cursor: pointer;
    background-color: white;
    padding: 10px 20px;
    margin-top: 10px;
    color: rgb(27, 142, 224);
    border: 0;
    font-size: medium;
    border-radius: 5px;
    box-shadow: 0 1px 2px 2px blue;
}

.popup button:focus{
    outline: 0;
}

.popup button:active{
    transform: scale(0.9);
}

.reset-warning{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.warning{
    background-color: rgb(27, 142, 224);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 1px 5px 4px aqua;
    animation-name: showpopup;
    animation-duration: 0.3s;
}

.warning button{
    cursor: pointer;
    background-color: white;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(27, 142, 224);
    border: 0;
    font-size: medium;
    border-radius: 5px;
    box-shadow: 0 1px 2px 2px blue;
}

.warning button:focus{
    outline: 0;
}

.warning button:active{
    transform: scale(0.9);
}

.notification-container{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    position: absolute;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
}

.notification-container p{
    margin: 0;
}

.notification-container.show{
    transform: translateY(-50px);
}

@keyframes showpopup{
    from{opacity: 0;}
    to{opacity: 1;}
}